<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link href="https://fonts.cdnfonts.com/css/highway-gothic" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% if title %}
        <title>TEED | {{ title }}</title>
    {% else %}
        <title>TEED</title>
    {% endif %}
</head>
<body>
    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="{{ url_for('multilingual.index') }}">Teed</a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="{{ url_for(request.endpoint, lang_code='et') }}" class="pure-menu-link">EST</a></li>
                <li class="pure-menu-item"><a href="{{ url_for(request.endpoint, lang_code='en') }}" class="pure-menu-link">ENG</a></li>
                <li class="pure-menu-item"><a href="{{ url_for(request.endpoint, lang_code='ru') }}" class="pure-menu-link">RUS</a></li>
                <li class="pure-menu-item"><a href="{{ url_for('multilingual.index') }}#about" class="pure-menu-link">{{ _('About') }}</a></li>
            </ul>
        </div>
    </div>

    {% block content %}{% endblock %}

    <div class="footer l-box is-center">
        TEED exhibition app. Test environment.
    </div>
</body>
</html>