{% extends "base.html" %}

{% block content %}

    <div class="splash-container">
        <div class="splash">
            <div><img class="teed-logo" src="/static/teed_logo.svg" alt="TEED"/></div>
            <div class="splash-subhead">
                <p>{{ _('An interactive exhibition about Tartu') }}</p>

                <p>{{ _('Read the instructions below and press <i>Start</i>') }}</p>
            </div>
            <a href="{{ url_for('multilingual.visit') }}" class="">
                <div class="pure-button pure-button-primary">
                    {{ _('Start') }}
                </div>
            </a>

        </div>
    </div>

    <div class="content-wrapper">
        <div class="content">
            <div class="content-block" id="instructions">
                <h2 class="content-head is-center">
                    {{ _('Instructions') }}
                </h2>
                 <div class="pure-g">
                     <ol>
                         <li>
                             <div class="step-img"></div>
                             <p class="l-box step">
                                 {{ _('Press <i>Start</i> and allow camera access in your browser. This is necessary for interacting with the artwork; the site does not collect any personal data.') }}
                             </p>
                         </li>
                         <li>
                             <div class="step-img"></div>
                             <p class="l-box step">
                                 {{ _('When the loading has stopped, and you see the scanner screen, the AR engine is ready for work. Loading can take up to one minute.') }}
                             </p>
                         </li>
                         <li>
                             <div class="step-img"></div>
                             <p class="l-box step">
                                 {{ _('Select an artwork and move your camera towards it to view the augmentation. Each painting has one, and augmented sketches in the sketchbooks are marked with a special sticker.') }}
                             </p>
                         </li>
                         <li>
                             <div class="step-img"></div>
                             <p class="l-box step">
                                 {{ _('Scan the artworks using a mobile phone. Do not move the camera from one work to another too fast, wait for the scanner to appear again. Augmentations can change with delay, depending on the smartphone\'s model and the browser being used.') }}
                             </p>
                         </li>
                         <li>
                             <div class="step-img"></div>
                             <p class="l-box step">
                                 {{ _('If the scanning animation disappeared but an augmentation did not appear, refresh the page and start again. It is recommended to interact with 5-10 works per visit, this way the AR engine can work better and the resulting routes are of reasonable length.') }}
                             </p>
                         </li>
                         <li>
                             <div class="step-img"></div>
                             <p class="l-box step">
                                 {{ _('We would appreciate if you could post screenshots or screen videos of artwork animations with the hashtag') }} <span class="hashtag-span">#näitusteed</span>{{ _(' to social media! After visiting all the interesting works, press <i>End visit</i>.') }}
                             </p>
                         </li>
                         <li>
                             <div class="step-img"></div>
                             <p class="l-box step">
                                 {{ _('You will be redirected to the page of your exhibition route, which is mapped to the city. It will contain up to 10 points from your visit. If you want to get a route with certain artworks, start a new visit and interact only with needed pieces.') }}
                             </p>
                         </li>
                         <li>
                             <div class="step-img"></div>
                             <p class="l-box step">
                                 {{ _('Use the route to take a walk through the city and enjoy the beauty of Tartu &#8212; the European Capital of Culture 2024! Don\'t forget to check out Plantarium to buy stickers from our artists.') }}
                             </p>
                         </li>
                     </ol>

                     <div class="center">
                         <p class="enjoy">{{ _('Enjoy the visit!') }}</p>
                         <a href="{{ url_for('multilingual.visit') }}" class="">
                            <div class="pure-button pure-button-primary">
                                {{ _('Start') }}
                            </div>
                        </a>
                     </div>
                </div>
            </div>

            <div class="content-block" id="about">
                <h2 class="content-head is-center">
                    {{ _('About') }}
                </h2>
                <p class="l-box">
                    {{ _('The exhibition was created by local developers and artists with the support of Plantarium by Jardin and the Open Cultural Platform of Aparaaditehas. During the exhibition period, a number of lectures and workshops will be held by the participants, so check out the') }} <a class="bold-link" href="https://www.facebook.com/events/1988561021524233">{{ _('Facebook event') }}</a>{{ _(' to stay updated and support our artists with a follow on social media!') }}
                </p>
                <div class="pure-g logo-block">
                    <div class="pure-u-1-2">
                        <img src="/static/AT_logo.svg" alt="Aparaaditehas"/>
                    </div>
                    <div class="pure-u-1-2">
                        <img src="/static/plantarium_logo.svg" alt="Plantarium by Jardin"/>
                    </div>
                </div>
                <div class="pure-g logo-block hl-banner">
                    <div class="pure-u-1-3">
                        <img src="/static/HL_logo.svg" alt="Helping to Leave" />
                    </div>
                    <div class="pure-u-2-3">
                        <p class="l-box">
                            {{ _('We support the organization Helping to Leave &#8212; 24/7 helpline for Ukrainians evacuating from areas of military conflict.') }} <a class="bold-link" href="https://helpingtoleave.org/">{{ _('Learn more and donate') }}</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="content-block" id="participants">
                <h2 class="content-head is-center">
                    {{ _('Participants') }}
                </h2>

                <div class="artist1">
                    <div class="pure-g">
                        <div class="l-box pure-u-1-5">
                            <img class="artistpic" src="/static/kira.png" alt="Kira">
                        </div>
                        <div class="l-box pure-u-3-5 artisttext">
                            <h3 style="text-transform: uppercase;">Kira Harlašova</h3>
                            <div class="social-icons">
                                <a href="https://www.instagram.com/by_vaenaton/" target="_blank"><i class="fab fa-instagram"></i></a>
                                <a href="mailto:vaenaton@gmail.com"><i class="fas fa-envelope"></i></a>
                                <a href="https://www.linkedin.com/in/kirakharlash" target="_blank"><i class="fab fa-linkedin"></i></a>
                                <a href="https://www.behance.net/vaenaton" target="_blank"><i class="fab fa-behance"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="pure-g">
                        <div class="l-box pure-u-5-5">
                            <p>
                                {{ _('Exhibition author and developer, data analyst. Self-taught artist and illustrator, publishing her artwork under the nickname (by) vaenaton. Master of Digital Humanities.') }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="artist1">
                    <div class="pure-g">
                        <div class="l-box pure-u-1-5">
                            <img class="artistpic" src="/static/mariliis.png" alt="Mariliis">
                        </div>
                        <div class="l-box pure-u-3-5 artisttext">
                            <h3 style="text-transform: uppercase;">Mariliis Kütt</h3>
                            <div class="social-icons">
                                <a href="https://www.instagram.com/schmariliis/" target="_blank"><i class="fab fa-instagram"></i></a>
                                <a href="mailto:kytt.mariliis@gmail.com"><i class="fas fa-envelope"></i></a>
                                <a href="https://www.linkedin.com/in/mariliis-k%C3%BCtt-b850761b4/" target="_blank"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="pure-g">
                        <div class="l-box pure-u-5-5">
                            <p>
                                {{ _('Exhibition organizer and developer, designer. Student at the Institute of Mathematics and Statistics @ UT, Tartu Art School graduate. Engineer in one of the Estonian unicorns.') }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="artist1">
                    <div class="pure-g">
                        <div class="l-box pure-u-1-5">
                            <img class="artistpic" src="/static/kairo.jpg" alt="Kairo">
                        </div>
                        <div class="l-box pure-u-3-5 artisttext">
                            <h3 style="text-transform: uppercase;">Kairo</h3>
                            <div class="social-icons">
                                <a href="https://www.instagram.com/kairo.totally.naive/" target="_blank"><i class="fab fa-instagram"></i></a>
                                <a href="mailto:kairovski@gmail.com"><i class="fas fa-envelope"></i></a>
                                <a href="https://www.facebook.com/kairothenaiveartist" target="_blank"><i class="fab fa-facebook"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="pure-g">
                        <div class="l-box pure-u-5-5">
                            <p>
                                {{ _('Local self-taught painter whose works can be found on canvases as well as streets. Member of Tartu Artists\' Union and soon-to-be city naivist.') }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="artist1">
                    <div class="pure-g">
                        <div class="l-box pure-u-1-5">
                            <img class="artistpic" src="/static/sashami.png" alt="Sashami">
                        </div>
                        <div class="l-box pure-u-3-5 artisttext">
                            <h3 style="text-transform: uppercase;">Sashami</h3>
                            <div class="social-icons">
                                <a href="https://www.instagram.com/sashami_art/" target="_blank"><i class="fab fa-instagram"></i></a>
                                <a href="mailto:amilyakina@gmail.com"><i class="fas fa-envelope"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="pure-g">
                        <div class="l-box pure-u-5-5">
                            <p>
                                {{ _('Sashami a.k.a. Sasha Milyakina is a research fellow in Semiotics at UT and a freelance artist who captures Tartu\'s architectural heritage in art form. Starting from 2017, she has created calendars inspired by the city. Her clients include the University of Tartu, Tartu City Government, Tartu City Museum, Setomaa museums and many more. Sasha is from Moscow and has been living in Estonia since 2013.') }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="artist1">
                    <div class="pure-g">
                        <div class="l-box pure-u-1-5">
                            <img class="artistpic" src="/static/kristel_olevusart.jpg" alt="Kristel">
                        </div>
                        <div class="l-box pure-u-3-5 artisttext">
                            <h3 style="text-transform: uppercase;">Kristel Sergo</h3>
                            <div class="social-icons">
                                <a href="https://www.instagram.com/olevusart/" target="_blank"><i class="fab fa-instagram"></i></a>
                                <a href="mailto:kristelse@gmail.com"><i class="fas fa-envelope"></i></a>
                                <a href="https://www.facebook.com/olevusArt/" target="_blank"><i class="fab fa-facebook"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="pure-g">
                        <div class="l-box pure-u-5-5">
                            <p>
                                {{ _('Also known as Olevus Art. Kristel\'s everyday companion on journeys and walks is her sketchbook &#8212; the place to capture her surroundings in various environments.') }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="artist1">
                    <div class="pure-g">
                        <div class="l-box pure-u-1-5">
                            <img class="artistpic" src="/static/sievka_icon.png" alt="Yana">
                        </div>
                        <div class="l-box pure-u-3-5 artisttext">
                            <h3 style="text-transform: uppercase;">Yana Sievka</h3>
                            <div class="social-icons">
                                <a href="https://www.instagram.com/sievka1307/" target="_blank"><i class="fab fa-instagram"></i></a>
                                <a href="mailto:luckyjo1307@gmail.com"><i class="fas fa-envelope"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="pure-g">
                        <div class="l-box pure-u-5-5">
                            <p>
                                {{ _('Bachelor in Architecture, artist, currently works in Soulmark Tattoo & Barber.') }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}