{% extends "base.html" %}

{% block content %}

     <p class="hashtag">#näitusteed</p>

   <form method="POST" action="/visited">
        <input type="hidden" name="jsondata" id="jsondata" value="">
        <input type="hidden" name="start" id="start" value="">
        <button id='end' type="submit" name="end" value="true" class="pure-button visit-button">{{ _('End visit') }}</button>
    </form>


    <iframe src="arscene" width="100%" scrolling="no"  frameborder="0"></iframe>


{% endblock %}